body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

.container {
  width: 60%;
  text-align: center;
  background: white;
  height: -webkit-fill-available;
}

h1 {
  margin-bottom: 20px;
}

ul {
  text-align: start;
}

#game-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

#inputs-container {
  margin-top: 40px;
  width: 48%;
  border: 1px solid black;
}
#results-container {
  margin-top: 30px;
  width: 48%;
  text-align: center;
}

.player {
  margin-bottom: 10px;
}

input[type="number"] {
  width: 50px;
  padding: 5px;
  margin: 0 10px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

#restart-button {
  margin-top: 10px;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}

#scoreboard {
  margin-top: 20px;
}

#round-info {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: blue;
  font-weight: 600;
}

h3 {
  width: 550px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid black;
  width: 550px;
}

th,
td {
  padding: 8px;
  text-align: center;
}

thead {
  background-color: #f2f2f2;
}

.note {
  padding-bottom: 30px;
}

#note {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  padding-top: 20px;
}

/* Media queries for responsive design */
@media (max-width: 1000px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #game-container {
    flex-direction: column;
    align-items: center;
  }

  #inputs-container,
  #results-container {
    width: auto;
    padding: 20px;
  }

  .note {
    width: auto;
    text-align: justify;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #game-container {
    flex-direction: column;
    align-items: center;
  }

  table {
    width: 80%;
    display: flex;
    margin-left: 55px;
  }

  #inputs-container,
  #results-container {
    width: auto;
    padding: 20px;
  }
  .note {
    width: auto;
    text-align: justify;
  }
}
